/*** Cards ***/
.card {
  margin-bottom: 0;
  overflow: hidden;
  @include jc-box-shadow;
}

.card-header {	
  a {
    color: $card-link-color;
    &.fa {
      color: $icon-color;
    }
  }

  .jc-global-index & {
    border-bottom: 0;
    font-family: $font-family-title, $font-family-base;
    font-size: $h2-font-size;
    padding-bottom: 0.5rem;
  }
  
  .jc-global-individual & {
    @include jc-theme-gradient;
    @extend .pt-1;
  }
}

.jc-global-individual {
  #individual-names {
    .card {
      margin-bottom: .25rem;
    }
  }
}
