/*** Header ***/
.wt-header-content {
  @include jc-background-image($banner-sm, $banner-sm-height);

  @include media-breakpoint-up(md) {
    & {
      @include jc-background-image($banner-md, $banner-md-height);
    }
  }
  @include media-breakpoint-up(lg) {
    & {
      @include jc-background-image($banner-lg, $banner-lg-height);
    }
  }
}

.jc-site-title {
  font-family: $font-family-treetitle, $font-family-base;
  font-size: $h1-font-size * .675;
  margin: 0 calc(50vw - #{$banner-sm-width/2});
  @include media-breakpoint-up(md) {
    & {
      font-size: $h1-font-size * .75;
      margin: 0 calc(50vw - #{$banner-md-width/2});
    }
  }
  @include media-breakpoint-up(lg) {
    & {
      font-size: $h1-font-size;
      margin: 0 calc(50vw - #{$banner-lg-width/2});
    }
  }
  text-shadow: -2px 2px $black;
  a {
      color: $treetitle-link-color;
      @include hover-focus {
        color: $treetitle-link-hover-color;
      }

  }
}

.jc-favsearch-bar {
  @include jb-theme-bar-gradient;

  @at-root {
    .wt-header-search {
      input {
        border-bottom-left-radius: $btn-border-radius !important;
        border-top-left-radius: $btn-border-radius !important;
      }
      .btn-primary {
        @include jb-theme-gradient;
        @include jb-theme-gradient-hover;
        border-color: theme-color(dark);
        border-bottom-right-radius: $btn-border-radius;
        border-top-right-radius: $btn-border-radius;
      }
    }
  }
}

