/*** Menu ***/
// Placeholder
%wt-menu {
  font-size: $font-size-sm;
}

%wt-nav-link {
  @include jc-dark-links;
}

// General styles for dropdown menus
.dropdown-menu {
  @include jc-box-shadow;
  font-size: $font-size-sm;
}

.dropdown-toggle:after {
  display: none;
}

// Primary menu
.jc-primary-navigation {
  border: none;
  margin: .5rem 0;
}
.wt-primary-menu {
  @extend %wt-menu;
  .nav-item {
    min-width: 5rem;
    text-align: center;
  }
  .nav-link {
    @extend %wt-nav-link;
    &::before {
      display: block;
    }
  }

  .dropdown-menu {
    background-color: $dropdown-dark-bg;
  }

  .dropdown-item {
    color: $link-dark-color;
    &:hover,
      &:focus {
      background-color: $dropdown-link-hover-bg;
    }
    &.active {
      background-color: $dropdown-link-dark-active-bg;
    }
    &:before {
      @include jc-direction(padding, .5rem, null, right);
      display: inline-block;
      vertical-align: middle;
    }
  }

  @include jc-theme-menu-icons();
}

// Secondary menu
.wt-secondary-menu {
  @extend %wt-menu;
  .nav-item + .nav-item::before {
    content: "|"
  }

  .nav-link {
    @extend %wt-nav-link;
    display: inline-block;
    padding: .5rem .25rem;
  }

  .dropdown-menu {
    @extend .dropdown-menu-right;
  }
}
