// Table header gradient
.table {
  thead {
    th,
    td {
      @include jb-theme-gradient;
      color: $table-head-color;
      border-bottom-width: $table-border-width;
    }
  }
}

// datatables
.dataTable {
  @extend %fact-table-style;

  // Datatable sorting icons
  thead th {
    &.sorting:after {
      opacity: 0.75;
    }
    &.sorting_asc:after,
      &.sorting_desc:after {
      opacity: 1;
    }
  }
}