/*** FAQ Module ***/
.faq {
  @extend .table-hover;
  tr {
    border: $border-width solid $table-border-color;
    &.even {
      background-color: $table-bg;
    }
  }

  a {
    @include jc-dark-links;
    &:hover {
      text-decoration: none;
    }
  }
}


