// FAQ Module
.faq {
  @extend .table-hover;
  tr {
    border: $border-width solid $table-border-color;
    &.even {
      background-color: $table-bg;
    }
  }

  a {
    color: $link-color-inverse;
    &:hover {
      color: $link-hover-color-inverse;
      text-decoration: none;
    }
  }
}


